.brand-list {

    margin-left: 0px;
    padding: 0;
    transition: max-height 200ms ease-in-out;
    margin-bottom: 8px;

    @media (min-width: 500px) {
        max-height: 200px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px 24px;
        max-height: 155px;
        padding-left: 0px;
    }

    @media (min-width: 700px) {
        column-gap: 24px;
        grid-template-columns: repeat(3, 1fr)
    }

    @media (min-width: 900px) {
        column-gap: 32px;
        grid-template-columns: repeat(4, 1fr);

    }

    @media (min-width: 1121px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px 32px;
    }


    &--open {
        @media (min-width: 500px) {
            max-height: 254px;
        }

        @media (min-width: 1121px) {
            max-height: 280px;
        }
    }
}