.button-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 0px;
    margin-bottom: 16px;
    margin-left: 16px;
    cursor: pointer;
    border: 1px solid transparent;
    width: 140px;

    &:nth-child(1) {
        margin-left: 0px;
    }

    &__brend,
    &__paragraf,
    &__rectangle {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
        border: none;
        background-color: transparent;
        padding: 0;
        padding-right: 1%;
    }

    &:hover {
        border: 1px solid #B8FFEC;
        background-color: #fff;
        border-radius: 4px;
    }

    &__check {
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
    }

    &__icon {
        vertical-align: middle;
    }

    &__image--rotate {
        transform: rotate(180deg);
    }

    @media (min-width: 768px) {
        margin-top: 10px;
        margin-left: 0px;
    }
}