.call {
    transform: translateX(120vw);
    transition: transform 200ms ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    min-height: 100vh;
    box-shadow: 0px 0 50px 15px rgba(14, 24, 80, 0.2);
    background-color: #fff;

    &--open {
        transform: translateX(0);
    }


    &__title {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
    }

    &__title-icon {
        margin-right: 12px;
    }

    &__title-text {
        font-family: 'TT Lakes';
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
        margin: 0;
    }

    &__container {
        margin-left: 16px;
        margin-right: 16px;
    }

    &__close {
        padding: 0;
        margin: 0;
        border: none;
        cursor: pointer;
        background-color: transparent;
        margin-top: 24px;
        margin-left: 16px;


        @media (min-width: 500px) {
            margin-top: unset;
        }
    }

    &__header {
        height: 64px;

        @media (min-width: 500px) {
            position: absolute;
            left: -80px;
            margin-top: 28px;
        }
    }
}