.form {
    &__input {
        height: 48px;
        border: 1px solid #EAEAEA;
        border-radius: 10px;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
    }

    &-call {
        display: flex;
        flex-direction: column;
        min-width: 288px;
        max-width: 376px;
        gap: 16px;
        margin-top: 24px;
    }

    &-call__input {
        height: 48px;
        border: 1px solid #EAEAEA;
        border-radius: 10px;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
    }

    &__textarea {
        border-radius: 10px;
        border: 1px solid #EAEAEA;
        resize: none;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
    }

    &-call__submit-button {
        padding: 0;
        margin: 0;
        border: none;
        cursor: pointer;
        background-color: transparent;
        margin-top: 19px;
    }

    &-call__info-text {
        max-width: 376px;
        min-width: 288px;
        font-family: 'TT Lakes';
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        margin-top: 16px;
        color: #7E7E82;
    }

    &-call__submit {
        display: flex;
        justify-content: flex-end;
        min-width: 288px;
        max-width: 376px;
    }

    &-call__info-link {
        cursor: pointer;
        color: #FF3E79;
    }
}