h2 {
    font-family: "TT Lakes";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #7E7E82;
    text-transform: uppercase;
    background: linear-gradient(to right, #F8F8F8, #fff);
    border-top: 1px solid rgba(217, 255, 245, 1);
    margin: 0;
    padding: 16px;
    padding-left: 0;
    margin-top: 24px;
    padding-left: 16px;
}