.list{
    &__href {
        color: rgba(27, 28, 33, 1);
        text-decoration: none;
        height: 24px;
        padding-top: 4px;
        padding-left: 24px;
        position: relative;
    }
  
    &__href::before {
        position: absolute;
        content: "";
        border-left: 4px solid rgba(65, 246, 215, 1);
        font-size: 16px;
        color: rgba(126, 126, 130, 1);
        transition: opacity 0.3s, transform 0.3s;
        height: 32px;
        top: 0;
        left: 0;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        transform: rotate(180deg);
        opacity: 0;
    }
  
    &__href:hover::before {
        opacity: 1;
    }
  
    &__href:hover {
        font-size: 16px;
        color: rgba(126, 126, 130, 1);
        transition: opacity 0.3s, transform 0.3s;
        display: flex;
    }

    &__item {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
        vertical-align: middle;
    }
}