.main {
    border-top: 1px solid #D9FFF5;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 24px;
        height: 40px;
    }

    &__title {
        display: grid;
        grid-template-columns: 16px auto;
        align-items: end;
        height: 40px;
    }

    &__navigation-requests {
        display: none;
    }
}

@media (min-width: 1024px) {
    .main__navigation-requests {
        display: flex;
    }
}