.price {
    &__swiper {
        margin-inline: 16px;
    }

    &__container {
        display: none;
        margin-inline: 2rem;
        margin-bottom: 16px;

        @media (min-width: 768px) {
            display: block;
            padding-inline: 1rem;
        }

        @media (min-width: 1121px) {
            padding-inline: 1.5rem;
        }
    }

    &__swiper-wrapper {
        padding: 0;
    }

    &__swiper-price {
        height: 200px;
        list-style: none;

    }

    &-pagination {
        padding-left: 106px;
    }
}

@media (min-width: 500px) {

    .price__swiper-wrapper {
        display: grid;
        gap: 16px 24px;
        grid-template-columns: repeat(2, 1fr);
        max-height: 188px;
    }

    .price-pagination__swiper-pagination {
        display: none;
    }
}

@media (min-width: 700px) {
    .price__swiper-wrapper {
        display: grid;
        column-gap: 24px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {

    .price-list {
        display: grid;
    }

    .price__swiper-wrapper {
        display: flex;
        flex-direction: column;
        max-height: unset;
        gap: unset;
        background-color: #fff;
    }

    .price__swiper-price {
        height: unset;
    }

    .price__swiper-price:not(:last-child)>.swiper-price__content {
        border-bottom: 1px solid #EAEAEA;
    }

    .price__swiper-price {
        padding-inline: 16px;
    }
}

@media (min-width: 1121px) {
    .price__swiper-price {
        padding-inline: 24px;
    }
}