.price-list {
    margin: 0;
    padding: 0;
    height: unset;
    display: grid;
    grid-template-columns: 37.5% 6% 1fr min(27%, 7.4375rem);

    @media (min-width: 768px) {
        grid-template-columns: 33% 20% 1fr min(27%, 7.4375rem);
        gap: 1.0625rem;
    }

    &__item {
        color: #7E7E82;
        font-size: 14px;
        line-height: 16px;
    }

}