.swiper {
    &-slide__link {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-inline: 16px;
        flex-grow: 1;
    }

    &-slide__image--lenovo {
        width: 108px;
        height: 32px;
    }

    &-pagination-bullet-active {
        background: rgba(181, 182, 188, 1);
    }

    &-pagination-bullet {
        background: rgba(221, 221, 221, 1);
    }

    &-slide__go {
        width: 40px;
        height: 40px;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
    }

    &-slide__content {
        padding: 16px;
    }

    &-slide__paragraph {
        color: #000;
        margin: 0;
    }

    &-slide__union {
        display: block;
        height: 126px;
        text-decoration: none;
        font-weight: 500;
    }

    &-slide__container-logo {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 104px;
    }

    &-price__content-remont {
        grid-area: remont;
    }

    &-price__content-price {
        grid-area: price;
    }

    &-price__content-time {
        grid-area: minut;
    }

    &-price__button {
        grid-area: button;
    }

    &-price__content {
        align-items: center;
        display: grid;
        gap: 1.0625rem;
        grid-template-areas: "remont remont"
            "price price"
            "minut button";
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
        padding: 16px;
        border-radius: 10px;
        border: 1px solid transparent;
        background-color: #fff;
    }

    &-price__content:hover {
        border: 1px solid #B8FFEC;
        cursor: pointer;
    }

    &-price__content-remont {
        display: flex;
        flex-direction: column;
    }

    &-price__content-price {
        display: flex;
        flex-direction: column;
    }

    &-price__button-link {
        text-decoration: none;
        padding: .5625rem 1.125rem;
        gap: .5rem;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        background-color: #FF3E79;
        border-radius: 1rem;
        flex-shrink: 1;
        font-size: .75rem;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
    }

    &-price__button-link::after {
        background-image: url('../assets/dropdown.svg');
        content: '';
        height: .625rem;
        width: .5rem;
    }

    &-price-order {
        height: 38px;
    }

    &-price__paragraf {
        font-family: "TT Lakes";
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        margin: 0;
    }

    &-price__paragraf-title {
        color: #7E7E82;
        margin: 0;
        font-family: "TT Lakes";
        font-size: 14px;
        line-height: 16px;
        text-align: left;
    }

    &-price-order {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &-price__button {
        display: flex;
    }

    &-pagination-bullet {
        width: 12px;
        height: 12px;
    }
}

@media (min-width: 500px) {
    .swiper-slide__link {
        display: flex;
        flex-wrap: nowrap;
    }
}

@media (min-width: 768px) {
    .swiper-slide {
        width: unset;
    }

    .swiper-price__paragraf-title {
        display: none;
    }

    .swiper-price__content {
        border-radius: unset;
        height: unset;
        display: grid;
        padding-block: 1rem;
        align-items: center;
        grid-template-columns: 33% 20% 1fr min(27%, 7.4375rem);
        grid-template-areas: 'remont price minut button';
    }


    .swiper-price__content:hover {
        border: 1px solid transparent;
        cursor: pointer;
    }

    .swiper-price-order {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}