.title{
    &__image {
        margin: 0;
        padding: 0;
        padding-top: 24px;
    }
  
    &__h1 {
        margin-top: 24px;
        margin-bottom: 24px;
        color: #1B1C21;
        font-family: TT Lakes;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
    }
}